# To make your own releases, create an actual keystore.properties file based on this template and fill in the correct values.

# Correct password and keystore file names are required for updating the app.
# Whether on the playstore or otherwise. With wrong values, it will simply be rejected.

KEYSTORE_FILE=release-key.jks
KEYSTORE_PASSWORD=putHere
KEY_ALIAS=putHere
KEY_PASSWORD=putHere
